<html>
{% load static %}
    <head>
        <title>Geordi profiler</title>
        <script src="{% static 'geordi/js/vis.min.js' %}"></script>
        <script src="{% static 'geordi/js/geordi.js' %}"></script>
        <link href="{% static 'geordi/css/vis.min.css' %}" rel="stylesheet">
        <style type="text/css">
            #spinner {
                width: 500px;
                height: 266px;

                position: absolute;
                z-index: 2;
                top:0;
                bottom: 0;
                left: 0;
                right: 0;

                margin: auto;
                background: url("{% static 'geordi/img/data.gif' %}") no-repeat center;
            }
            #menu {
                position: fixed;
                z-index: 3;
                top: 0;
                left: 0;
                margin: 10px;
            }
            #menu button {
                font-size: 16px;
                padding: 0.25em;
            }
        </style>
    </head>
    <body>
        <div id="menu">
          <button id="show-flamegraph">Show flamegraph &#x1f525;</button>
          <button id="show-graph" hidden>Show graph</button>
          <button id="freeze"><span style="text-decoration: underline">S</span>top jiggling!</button>
        </div>
        <div id="spinner"></div>
        <div id="graph" data-dotstring="{{ dotstring }}"></div>
        <div id="flamegraph" hidden>
          {% autoescape off %}
            {{ flamegraph_svg }}
          {% endautoescape %}
        </div>
    </body>
</html>
